{% extends 'narrow.html.twig' %}

{% block body %}
    <form method="post" class="my-5 p-5 shadow">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label required">Benutzername</label>
            <input type="text" value="{{ last_username }}" name="username" id="username" class="form-control"
                   required autofocus>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label required">Passwort</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary mb-3" type="submit">
            Anmelden
        </button>

        <p>
            <a href="{{ path("password_reset") }}">Passwort zurücksetzen</a>
        </p>
    </form>
{% endblock %}
