{% extends 'base.html.twig' %}

{% block body %}
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG</h2>

    Stefan Siegl<br/>
    Annastraße 17a<br/>
    97072 Würzburg<br/>

    <h2>Kontakt</h2>

    <ul class="plain">
        <li>eMail: stesie@brokenpipe.de</li>
    </ul>

{% endblock %}
