{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Hej!</h1>
            <p class="fs-4">Willkommen bei wueride.bike, einem Pilotprojekt zum föderierten Sammeln von <del>Fahrrad</del>-Routen.</p>
            <p>
                Viel zu sehen gibt es hier noch nicht. Das Projekt steht noch ganz am Anfang.
                Wenn du auf 🚴, 🚶, 🚵, ⛰️, 🌲, ... stehst dich noch dazu für freie, föderierte Netzwerke interessierst,
                sieh dich gerne um 🤗
            </p>
            <p>
                Letztlich sind das auch zwei Projekte in einem: einerseits soll eine freie Software-Plattform entstehen,
                mit deren Hilfe Menschen Routen resp. Erfahrungen miteinander tauschen können. Andererseits soll
                auf dieser Instanz konkret der Austausch für die Region um Würzburg (Mainfranken) ermöglicht werden.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h2>Was soll das?</h2>

            <p>
                Es gibt eine Reihe von kommerziellen "sozialen" Netzwerken, die sich den Themen Abenteuer & Sport
                verschrieben haben. Manche Zielen mehr auf das Austausch & Erlebnis ab, manche mehr auf Leistung.
                Allen ist jedoch gemeinsam, dass sie zentralisiert sind und ein großer Berg an Daten entsteht.
            </p>

            <p>
                wueride ist anders. Es ist Teil des Fediverse, bzw. möchte es werden. Das heißt, du kannst selbst
                eine dezentrale Plattform schaffen, auf der du deine Daten teilen kannst -- oder du kannst Teil einer
                dezentralen Community sein.
            </p>

            <p>
                wueride ist freie Software, die unter der GNU Affero General Public License, Version 3, veröffentlicht
                ist.  Das heißt, dass du die Freiheit hast diese Software auszuführen, zu kopieren, zu verbreiten,
                zu untersuchen, zu ändern und zu verbessern.
                <a href="https://codeberg.org/stesie/wueride">Quellcode auf codeberg.org</a>.
            </p>
        </div>

        <div class="col-sm">
            <h2>Und jetzt?</h2>

            <ul>
                <li><a href="{{ path('user_registration') }}">Konto registrieren</a></li>
                <li>Profilseiten:
                    <a href="{{ path('user_profile', {'username': 'dev'}) }}">@dev</a>,
                    <a href="{{ path('user_profile', {'username': 'rolf'}) }}">@rolf</a>
                </li>
            </ul>

        </div>

    </div>

    <p></p>
{% endblock %}
