{% extends 'narrow.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'my-5 p-5 shadow'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Benutzerkonto anlegen</button>
    {{ form_end(form) }}

{% endblock %}
