Hej,

jemand (vermutlich du) hat bei wueride.bike gerade die "Passwort zurücksetzen"
Funktion aufgerufen.

Falls du das warst, klick einfach auf den folgenden Link und vergebe dein neues Passwort:
{{ url('passwort_reset_finish', {'token': token}) }}

Solltest du den Passwort Reset nicht selbst in Auftrag gegeben haben, gib uns bitte Bescheid.

Viele Grüße

das wueride.bike-Team