Hej,

schön, dass du dich bei wueride.bike registriert hast.

Bestätige bitte noch deine E-Mail-Adresse (und damit dein Benutzerkonto), indem du auf folgenden Link klickst:
{{ url('finish_registration', {'token': token}) }}

Viele Grüße

das wueride.bike-Team