<div class="p-5 mb-4 bg-light rounded-3">
    <h1>{{ actor.displayName }}</h1>
    <div>
        @{{ actor.handle }}
        {% if actor.isFollowingUser %}<span class="badge text-bg-secondary">folgt dir</span>{% endif %}
    </div>

    <div>{{ actor.summary }}</div>

    <div>
        <a href="{{ path('user_followers', {'username': actor.shortHandle}) }}">Follower <span class="badge text-bg-secondary">{{ actor.followerCount }}</span></a>
        <a href="{{ path('user_following', {'username': actor.shortHandle}) }}">Folgt <span class="badge text-bg-secondary">{{ actor.followingCount }}</span></a>
    </div>

    {% if app.user is not null %}
        {% if actor.userIsFollowing %}
            <form method="post" action="{{ path('user_undo_follow', {'username': actor.shortHandle}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('undo-follow:' ~ actor.shortHandle) }}" />
                <button class="btn btn-outline-primary">Entfolgen</button>
            </form>
        {% else %}
            <form method="post" action="{{ path('user_follow', {'username': actor.shortHandle}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('follow:' ~ actor.shortHandle) }}" />
                <button class="btn btn-outline-primary">Folgen</button>
            </form>
        {% endif %}
    {% endif %}
</div>