{% extends 'base.html.twig' %}

{% block body %}
    {{ include('user/_profile_box.html.twig') }}

    <ul>
       {% for rel in relations %}
           <li>{{ rel.name }} (<a href="{{ path('user_profile', {'username': rel.username}) }}">{{ rel.username }}@{{ app.request.httpHost }}</a>)</li>
        {% endfor %}
    </ul>
{% endblock %}